name: Pipeline Node.js
run-name: ${{ github.actor }} está fazendo a tarefa de casa no GitHub Actions
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
jobs:
  testes:
    name: Primeiro Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Instalação do node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
        
      - name: Instalando dependências
        run: npm ci
        
      - name: Run do Test
        run: npm run test
      
      
  build:
    name: Segunda Job
    runs-on: ubuntu-latest
    needs: testes # needs - precisa de "testes" finalizado para ser executado
    steps:
      - run: npm run build
      
 
